# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Project specific
checkpoints/
demos/
runs/
videos/
eval_videos/
debug_videos/
log/
logs/
wandb/
*.h5
*.mp4
*.pt
*.ckpt
*.log

# Keep dirs but ignore contents
!checkpoints/.gitkeep
!demos/.gitkeep

# OS
.DS_Store
